.App {
  text-align: center;
  font-size: 1.2em;
}

ul {
  background-color: hotpink;
}

ul {
  margin: 15px;
  padding: 5px;
  font-family: sans-serif;
  list-style: none;
  box-shadow: 1px 1px 3px #444;
}

li {
  background-color: #999;
  border-radius: 3px;
  padding: 5px 10px;
}

button {
  padding: 8px 12px;
  margin: 4px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #52769d;
  color: #232323;
}

button:hover {
  text-decoration: underline;
  text-decoration-color: #669cb4
}
